# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE files
.vscode/
.idea/

# Operating System files
.DS_Store
Thumbs.db

# Python environment
.python-version

# Streamlit cache
.streamlit/

# Log files
*.log

# Build files
build/
dist/
*.egg-info/

# Model files (Uncomment if you DON'T want to upload them)
# lr_model.jb
# vectorizer.jb

# Dataset files (Uncomment if you DON'T want to upload them)
# Fake.csv
# True.csv
